.grid {
  display: grid;
  grid-template-columns: 80px 80px 80px;
  grid-template-rows: 60px 60px;
  gap: 8px;
}
.gross {
  background-color: #2dd4bf;
  grid-column: 1 / 3;
}
.klein {
  background-color: #22262d;
}
