.hero {
  width: 600px;
  height: 200px;
  background-color: #22262d;
  color: #e7ecf1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.titel {
  margin: 0;
  color: #2dd4bf;
  font-size: 32px;
  font-weight: 700;
}
